$black-text: #221f1f;
$grey-disabled: #cccccc;
$grey-disabled-text: #545454;
$grey-medium: #545353;
$grey-primary: #a6a5a5;
$grey-tertiary: #e9e9e9;
$red-primary: #f84147;

.input__background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.input {
  &__container {
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__wrapper {
    display: flex;
  }

  &__field {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $grey-primary;
    padding: 0 42px 0 38px;
    color: $black-text;
    font-size: 14px;
    font-weight: normal;
    font-family: 'FiraSans', sans-serif;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    &--disabled {
      background-color: $grey-disabled;
    }
    &--short {
      width: calc(100% - 40px);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $grey-medium;
    }
  }

  &__placeholder {
    position: absolute;
    color: $grey-medium;
    font-size: 14px;
    font-weight: normal;
    font-family: 'FiraSans', sans-serif;
    top: 33px;
    left: 38px;
    pointer-events: none;
    transition: all 0.3s ease;
    &--disabled {
      color: $grey-disabled-text;
    }
  }

  &__button {
    &--clear {
      border: none;
      position: absolute;
      top: 24px;
      right: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $grey-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      cursor: pointer;
      &-short {
        right: 48px;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }

    &--icon {
      @extend .input__background;
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../../../../assets/img/cross-grey.svg");
    }
  }

  &__error-message {
    margin: 4px 0 0 0;
    color: $red-primary;
    font-size: 12px;
    font-family: 'FiraSans', sans-serif;
    font-weight: normal;
    line-height: 16px;
  }

  &__icon {
    &--holder {
      box-sizing: border-box;
      position: absolute;
      top: 23px;
      left: 2px;
      width: 32px;
      height: 32px;
      padding: 2px;
    }
    &--email {
      @extend .input__background;
      position: absolute;
      top: 25px;
      left: 4px;
      width: 32px;
      height: 32px;
      background-image: url("../../../../../assets/img/email-open.svg");
    }
    &--password {
      @extend .input__background;
      width: 28px;
      height: 28px;
      background-image: url("../../../../../assets/img/lock.svg");
    }
    &--phone {
      @extend .input__background;
      position: absolute;
      top: 27px;
      left: 4px;
      width: 28px;
      height: 28px;
      background-image: url("../../../../../assets/img/phone.svg");
    }
    &--eye {
      &-holder {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
        cursor: pointer;
      }
      @extend .input__background;
      width: 28px;
      height: 28px;
      background-image: url("../../../../../assets/img/eye.svg");

      &-blind {
        @extend .input__background;
        width: 28px;
        height: 28px;
        background-image: url("../../../../../assets/img/eye-closed.svg");
      }
    }
  }
}

.input__field:focus ~ .input__placeholder,
.input__field:not(:focus):valid ~ .input__placeholder,
.input__field:focus-visible ~ .input__placeholder,
.input__field:not(:focus-visible):valid ~ .input__placeholder 
{
  top: 0px;
  left: 0px;
  font-size: 12px;
}