$grey-secondary: #797878;
$grey-checkbox: #d2d2d2;
$grey-primary: #a6a5a5;
$white-lighter: #f8f8f8;

.sign-up {
  &__container {
    display: flex;
    border-top: 1px solid $grey-checkbox;
    padding: 24px;
    width: 640px;
  }
  &__form {
    position: relative;
    display: flex;
    width: 60%;
    flex-direction: column;
    border-right: 1px solid $grey-checkbox;
    padding: 0 32px 0 0;
    &--restore {
      display: flex;
      justify-content: space-between;
      margin: 16px 0 0 0;
    }
  }

  &__button {
    &--continue {
      margin: 16px 0 16px 0;
    }
  }

  &__divider {
    position: absolute;
    left: 100%;
    top: 50%;
    font-size: 14px;
    transform: translate(-50%, -50%);
    color: $grey-secondary;
    background-color: $white-lighter;
    line-height: 30px;
  }
  &__login {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 0 0 32px;
    &--text {
      text-align: center;
      color: $grey-secondary;
      font-family: 'FiraSans', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      margin: 0 0 16px 0;
    }
    &--row {
      margin: 16px 0 0 0;
    }
  }
}