<button class="button__container">
  <ng-container *ngIf="buttonIconName && iconPosition == 'left'">
    <ng-container [ngSwitch]="buttonIconName">
      <span *ngSwitchCase="'thumbUp'" class="button__icon--left button__icon--thumb-up"></span>
      <span *ngSwitchDefault class="button__icon--left button__icon--thumb-up"></span>
    </ng-container>
  </ng-container>

  <span class="button__text">{{ buttonText }}</span>

  <ng-container *ngIf="buttonIconName && iconPosition == 'right'">
    <ng-container [ngSwitch]="buttonIconName">
      <span *ngSwitchCase="'thumbUp'" class="button__icon--right button__icon--thumb-up"></span>
      <span *ngSwitchDefault class="button__icon--right button__icon--thumb-up"></span>
    </ng-container>
  </ng-container>
</button>
