.catalogue {
  &__container {

  }
  &__trigger {

  }
  &__main {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 5;
    background-color: rgba(84, 83, 83, 0.6);
  }
  &__holder {
    background-color: white;
  }
  &__hide {
    display: none;
  }
}