$black-text: #221f1f;
$green-primary: #00a046;
$grey-checkbox: #d2d2d2;
$grey-primary: #a6a5a5;
$grey-secondary: #797878;

.checkbox {
  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__input {
    appearance: none;
    border: 0;
    height: 0;
    position: absolute;
  }
  &__label {
    display: flex;
    align-items: center;
    color: $black-text;
    font-size: 14px;
    font-family: 'FiraSans', sans-serif;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      border: 1px solid $grey-checkbox;
      border-radius: 4px;
      box-sizing: border-box;
      display: block;
      height: 16px;
      width: 16px;
      position: absolute;
      top: -1px;
      left: 0;
      cursor: pointer;
      transition: background-color .2s ease-in-out,border .2s ease-in-out;
    }
    &--left {
      left: 26px;
      &::before {
        left: -26px;
      }
    }
    &--right {
      &::before {
        left: auto;
        right: -26px;
      }
    }
    &--disabled {
      color: $grey-primary;
      &::selection {
        color: $grey-primary;
        background-color: transparent;
      }
    }
  }
}

input[type="checkbox"] + label:hover::before {
  border-color: $black-text;
}

input[type="checkbox"]:checked + label::before {
  background-color: $green-primary;
  background-image: url("../../../../../assets/img/checkbox.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  border-color: $green-primary;
}

input[type="checkbox"]:disabled + label:hover::before {
  border-color: $grey-secondary;
  background-color: $grey-primary;
}

input[type="checkbox"]:disabled + label::before {
  background-color: $grey-primary;
  background-image: url("../../../../../assets/img/checkbox.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  border-color: $grey-primary;
}

input[type="checkbox"]:disabled + label:hover::before {
  border-color: $grey-primary;
}