$orange-lighter: #FBB874;
$white-lighter: #F8F8F8;

.home {
  &__container {
    width: 100%;
    display: flex;
    background-color: $white-lighter;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}