<p class="topbar__legend">My cool text</p>
<p class="topbar__legend">You selected: {{ menuItemsList[0] }}</p>

<br />
<ul>
  <li class="topbar__menu--item">{{ menuItemsList[0] }}</li>
</ul>
<br />
<button (click)="shuffleMenu()">Resort list</button>
<p class="topbar__legend">{{ greetingFromUser }}</p>

<cfr-square>
  <h4 header-h4>HELLO FROM PARENT</h4>
  <h4 class="my-round-class">Select by class</h4>
</cfr-square>

<nav>
  <ul>
    <li><a routerLink="/rect">Go To Rectangle</a></li>
    <li><a routerLink="/posts">Posts List</a></li>
  </ul>
</nav>
