<p class="topbar__legend" cfr-color [startColor]="'blue'"
  [startBackgroundColor]="'salmon'">My cool text</p>
<p class="topbar__legend" cfr-color [startColor]="'white'"
  [startBackgroundColor]="'brown'">You selected: {{ menuItemsList[0] }}</p>
<p class="topbar__legend" cfr-color>I have a directive in my body</p>

<br />
<ul>
  <li class="topbar__menu--item">{{ menuItemsList[0] }}</li>
</ul>
<br />
<button (click)="shuffleMenu()">Resort list</button>
<p class="topbar__legend">{{ greetingFromUser }}</p>

<cfr-square>
  <h4 header-h4>HELLO FROM PARENT</h4>
  <h4 class="my-round-class">Select by class</h4>
</cfr-square>
<nav>
  <ul>
    <li><a routerLink="/rect">Go To Rectangle</a></li>
    <li><a routerLink="/posts">Posts List</a></li>
    <li><a (click)="goToTestimonials()" class="topbar__link">Testimonials</a></li>
      <!-- (click)="goToTestimonials()"  -->
      
      
  </ul>
</nav>

<form (onsubmit)="sendPost($event)">
  <label for="postTitle">Title</label>
  <input name="postTitle" type="text" placeholder="Title" #titleInput/>

  <label for="postBody">Body</label>
  <input name="postBody" type="text" placeholder="Body" #bodyInput/>

  <button (click)="sendPost($event)">Send Post</button>
</form>

<button (click)="createStar('yellow')">Create yellow star</button>
<button (click)="createStar('red')">Create red star</button>
<button (click)="removeStar()">Remove star</button>
<template #starContainer></template>
