<div class="card__container">
  <div class="card__wrapper">
    <div class="card__favorite"></div>
    <div class="card__image--holder" (click)="goToDetails()">
      <img class="card__image" [src]="item.imageLink"/>
    </div>
    <div class="card__item-name" (click)="goToDetails()">{{ item.itemName }}</div>
    <div class="card__price--old">{{ item.priceOld | ukrCurrency : '1.0-0' }}
      <span class="card__price--old-currency">{{ item.currency }}</span>
    </div>
    <div class="card__price">{{ item.price | ukrCurrency : '1.0-0' }}
      <span class="card__price--currency">{{ item.currency }}</span>
    </div>
    <div class="card__status">
      <ng-container [ngSwitch]="item.itemStatus">
        <span *ngSwitchCase="'runningOut'"
              class="card__status--running-out">Закінчується</span>
        <span *ngSwitchCase="'outOfStock'"
              class="card__status--out-of-stock">Немає в наявності</span>
        <span *ngSwitchCase="'inDelivery'"
              class="card__status--in-delivery">В дорозі</span>
        <span *ngSwitchDefault class="card__status--available"></span>
      </ng-container>
    </div>
  </div>
</div>