$white-lighter: #F8F8F8;
$black-text: #221f1f;
$blue-secondary: #3e77aa;
$red-primary: #f84147;
$grey-medium: #545353;
$grey-primary: #a6a5a5;
$grey-secondary: #797878;
$grey-tertiary: #e9e9e9;
$orange-carrot: #ff5c00;

.card {
  &__container {
    position: relative;
    width: 185px;
    background-color: $white-lighter;
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
  &__wrapper {
    width: 153px;
    height: 318px;
    display: flex;
    flex-direction: column;
  }
  &__favorite {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/thumb-up.svg');
  }
  &__image {
    max-width: 153px;
    max-height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    &--holder {
      width: 153px;
      height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 16px 0;
      cursor: pointer;
    }
  }
  &__item-name {
    color: $black-text;
    font-family: 'FiraSans';
    font-size: 14px;
    text-decoration: none;
    margin: 0 0 12px 0;
    cursor: pointer;
    &:hover,
    &:active {
      color: $red-primary;
      transition: all 0.3s;
      text-decoration: underline;
    }
  }

  &__price {
    color: $black-text;
    font-size: 24px;
    font-family: 'Merriweather';
    line-height: 34px;
    &--currency {
      color: $black-text;
      font-size: 18px;
      font-family: 'Merriweather';
      line-height: 18px;
      margin: 0 0 0 4px;
    }

    &--old {
      color: $grey-primary;
      font-family: 'Merriweather';
      font-size: 14px;
      line-height: 14px;
      text-decoration: line-through;
      &-currency {
        margin: 0 0 0 4px;
        color: $grey-primary;
        font-family: 'Merriweather';
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
  &__status {
    margin: 4px 0 4px 0;
    &--available {
      display: none;
    }
    &--running-out {
      color: $orange-carrot;
      font-size: 12px;
      line-height: 12px;
      font-family: 'Merriweather';
    }
    &--out-of-stock {
      color: $grey-secondary;
      font-size: 12px;
      line-height: 12px;
      font-family: 'Merriweather';
    }
    &--in-delivery {
      color: $grey-medium;
      font-size: 12px;
      line-height: 12px;
      font-family: 'Merriweather';
    }
  }
  &__color {
    &--orange {
      color: $orange-carrot;
    }
    &--red {
      color: $red-primary;
    }
  }
}