$black-text: #221f1f;
$grey-disabled: #cccccc;
$grey-disabled-text: #545454;
$grey-medium: #545353;
$grey-primary: #a6a5a5;
$grey-tertiary: #e9e9e9;
$red-primary: #f84147;

.input {
  &__container {
    width: 315px;
    height: 82px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__field {
    width: 315px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $grey-primary;
    padding: 0 12px;
    color: $black-text;
    font-size: 14px;
    font-weight: normal;
    font-family: 'FiraSans';
    box-sizing: border-box;
    margin: 20px 0 0 0;
    &--disabled {
      background-color: $grey-disabled;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $grey-medium;
    }
  }

  &__placeholder {
    position: absolute;
    color: $grey-medium;
    font-size: 14px;
    font-weight: normal;
    font-family: 'FiraSans';
    top: 33px;
    left: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    &--disabled {
      color: $grey-disabled-text;
    }
  }

  &__button {
    &--clear {
      border: none;
      position: absolute;
      top: 24px;
      right: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $grey-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        filter: brightness(0.8);
      }
    }

    &--icon {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../../../assets/img/cross-grey.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &__error-message {
    margin: 4px 0 0 0;
    color: $red-primary;
    font-size: 12px;
    font-family: 'FiraSans';
    font-weight: normal;
    line-height: 16px;
  }
}

.input__field:focus ~ .input__placeholder,
.input__field:not(:focus):valid ~ .input__placeholder,
.input__field:focus-visible ~ .input__placeholder,
.input__field:not(:focus-visible):valid ~ .input__placeholder 
{
  top: 0px;
  left: 0px;
  font-size: 12px;
}