<div class="typeahead__container">
  <form action="" class="typeahead__form" [formGroup]="searchForm">
    <div class="typeahead__main">
        <div class="typeahead__search-block"
          [ngClass]="{ 'typeahead__search-block--opened' : showSuggestions === true }">
          <button class="typeahead__search"
            [ngClass]="{ 'typeahead__search-block--opened' : showSuggestions === true }">
            <span class="typeahead__search--icon"></span>
          </button>
          <input type="text" class="typeahead__input" [placeholder]="inputPlaceholder"
            (focus)="onSearchInputFocus()" (blur)="onSearchInputBlur()"
            formControlName="searchInput"
            [ngClass]="{ 'typeahead__input--not-empty' : showClearButton }"/>
          <button *ngIf="showClearButton"
            class="typeahead__clear" (mouseover)="toggleClearButtonIcon($event)"
            (mouseout)="toggleClearButtonIcon($event)"
            (click)="clearSearch()">
            <span [ngClass]="clearButtonClass"></span>
          </button>
          <span class="typeahead__divider"></span>
          <button class="typeahead__voice" (mouseover)="toggleVoiceButtonIcon($event)"
            (mouseout)="toggleVoiceButtonIcon($event)">
            <span [ngClass]="voiceButtonClass"></span>
          </button>
          <cfr-button [buttonText]="searchButtonText" [height]="'40px'"
          [fontSize]="'16px'" [borderRadius]="buttonBorderRadius" [width]="'63px'"></cfr-button>
        </div>
        <div class="typeahead__suggestion--list-wrapper"
          [ngClass]="{ 'typeahead__suggestion--show' : showSuggestions === true }"
          (clickOutside)="toggleSuggestions()">
          <div class="typeahead__suggestion--list-animated">
            <div class="typeahead__suggestion--list">
              <ng-container *ngIf="!hints">
                <div class="typeahead__suggestion--header-wrapper">
                  <div class="typeahead__suggestion--header">Search history</div>
                  <button class="typeahead__suggestion--header-button"
                    (click)="removeAllHistory()">Clear list</button>
                </div>
                <div *ngFor="let historyRecord of historyList; index as i"        class="typeahead__history--item"
                [ngClass]="{'typeahead__history--item-last' : i == historyList.length-1 }">
                  <a [href]=historyRecord.historyLink class="typeahead__history--link">
                    <span class="typeahead__history--link-left">
                      <div class="typeahead__history--icon"></div>
                      <span class="typeahead__history--legend">
                        {{ historyRecord.historyName }}</span>
                    </span>
                    
                    <button class="typeahead__history--button"
                      (click)="removeHistoryRecord(i, $event)">
                      <span class="typeahead__history--button-icon"></span>
                    </button>
                  </a>
                </div>
              </ng-container>
              <ng-container *ngIf="hints">
                <div class="typeahead__hint--holder">
                <ng-container *ngIf="hints.hintSimple && hints.hintSimple.length > 0">
                  <div *ngFor="let hint of hints.hintSimple; index as i"    class="typeahead__hint--item">
                    <a class="typeahead__hint--text" [href]="hint.href">
                      <span class="typeahead__hint--wide">
                        <span class="typeahead__hint--input">{{ userInput }}&nbsp;</span>
                        <span class="typeahead__hint--addition">{{ hint.name }}</span>
                      </span>
                    </a>
                  </div>
                </ng-container>
                <!-- search amoung categories -->
                <ng-container *ngIf="hints.hintCategory && hints.hintCategory.length > 0">
                  <div class="typeahead__hint--subheader">Go to category</div>
                  <div *ngFor="let hintCategory of hints.hintCategory; index as i"    class="typeahead__hint--item">
                    <a class="typeahead__hint--text" [href]="hintCategory.href">
                      <div class="typeahead__hint--category-icon"></div>
                      <span class="typeahead__hint--input">{{ hintCategory.name }}</span>
                    </a>
                  </div>
                </ng-container>
                <!-- search in category -->
                <ng-container *ngIf="hints.hintInCategory && hints.hintInCategory.length > 0">
                  <div class="typeahead__hint--subheader-in-category">Search in category</div>
                  <div *ngFor="let hintInCategory of hints.hintInCategory; index as i"    class="typeahead__hint--item-in-category">
                    <a class="typeahead__hint--text" [href]="hintInCategory.href">
                      <div class="typeahead__hint--in-category-icon"></div>
                      <span class="typeahead__hint--input">{{ hintInCategory.word }}&nbsp;</span>
                      <span class="typeahead__hint--addition">{{ hintInCategory.intermediatePhrase }}&nbsp;</span>
                      <span class="typeahead__hint--category-name">{{ hintInCategory.title }}</span>
                    </a>
                  </div>
                </ng-container>

              </div>
              </ng-container>

              <!--
              <div *ngFor="let item of items; index as i" class="typeahead__suggestion--item"
                [ngClass]="{'typeahead__suggestion--item-last' : i == items.length-1 }">
                {{ item }}
              </div> -->
            </div>
          </div>
          <!-- <div class="typeahead__suggestion--item"></div> -->
        </div>
      </div>
    
    <!-- <button></button> -->
  </form>
  <div class="typeahead__suggestion"></div>

  <!-- <input id="type-ahead" />
  <hr />
  <div id="output"></div> -->
</div>

