<div class="typeahead__container">
  <form action="" class="typeahead__form" [formGroup]="searchForm">
    <div class="typeahead__main">
        <div class="typeahead__search-block">
          <button class="typeahead__search">
            <span class="typeahead__search--icon"></span>
          </button>
          <input type="text" class="typeahead__input" [placeholder]="inputPlaceholder"
            (focus)="onSearchInputFocus()" (blur)="onSearchInputBlur()"
            formControlName="searchInput"
            [ngClass]="{ 'typeahead__input--not-empty' : showClearButton }"/>
          <button *ngIf="showClearButton"
            class="typeahead__clear" (mouseover)="toggleClearButtonIcon($event)"
            (mouseout)="toggleClearButtonIcon($event)"
            (click)="clearSearch()">
            <span [ngClass]="clearButtonClass"></span>
          </button>
          <span class="typeahead__divider"></span>
          <button class="typeahead__voice" (mouseover)="toggleVoiceButtonIcon($event)"
            (mouseout)="toggleVoiceButtonIcon($event)">
            <span [ngClass]="voiceButtonClass"></span>
          </button>
          <cfr-button [buttonText]="searchButtonText" [height]="'40px'"
          [fontSize]="'16px'" [borderRadius]="buttonBorderRadius" [width]="'63px'"></cfr-button>
        </div>
        <div class="typeahead__suggestion--list-wrapper">
          <div class="typeahead__suggestion--list">
            <div class="typeahead__suggestion--header-wrapper">
              <div class="typeahead__suggestion--header">Search history</div>
              <button class="typeahead__suggestion--header-button">Clear list</button>
            </div>
            <div *ngFor="let item of items; index as i" class="typeahead__suggestion--item"
              [ngClass]="{'typeahead__suggestion--item-last' : i == items.length-1 }">
              {{ item }}
            </div>
          </div>
          <!-- <div class="typeahead__suggestion--item"></div> -->
        </div>
      </div>
    
    <!-- <button></button> -->
  </form>
  <div class="typeahead__suggestion"></div>

  <!-- <input id="type-ahead" />
  <hr />
  <div id="output"></div> -->
</div>

