$black-text: #221f1f;
$grey-disabled: #cccccc;
$grey-medium: #545353;
$grey-primary: #a6a5a5;

@mixin typeahead-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  appearance: none;
  outline-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    background-color: white;
  }
}

@mixin typeahead-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.typeahead {
  &__container {
   //  position: relative;
  }
  &__form {
    display: flex;
  }
  &__main {
    display: flex;
    width: 774px;
    flex-direction: column;
    // padding: 0 80px 0 0;
  }
  &__search {
    &-block {
      display: flex;
      // width: 100%;
    }
    @include typeahead-button;
    min-width: 40px;
    height: 40px;
    border-radius: 3px 0 0 3px;

    &--icon {
      @include typeahead-icon;
      background-image: url("../../../../../assets/img/search.svg");
    }
  }
  &__input {
    flex: 1 0 591px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    color: $black-text;
    font-size: 14px;
    font-weight: normal;
    font-family: 'FiraSans', sans-serif;
    box-sizing: border-box;
    outline-style: none;
    border: none;
    border-right: 2px solid transparent;
    line-height: 1.15;
    margin: 0;
    &--disabled {
      background-color: $grey-disabled;
    }
    &--short {
      width: calc(100% - 40px);
    }
    &--not-empty {
      border-right: 1px solid $grey-primary;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: none;
    }
  }
  &__clear {
    @include typeahead-button;
    min-width: 40px;
    height: 40px;

    &--icon {
      @include typeahead-icon;
      width: 14px;
      height: 14px;
      background-image: url("../../../../../assets/img/cross-blue.svg");
      &-hovered {
        @include typeahead-icon;
        width: 14px;
        height: 14px;
        background-image: url("../../../../../assets/img/cross-pink.svg");
      }
    }
  }
  &__voice {
    @include typeahead-button;
    min-width: 40px;
    height: 40px;

    &--icon {
      @include typeahead-icon;
      background-image: url("../../../../../assets/img/voice.svg");
      &-hovered {
        @include typeahead-icon;
        background-image: url("../../../../../assets/img/voice-pink.svg");
      }
    }
  }

  &__suggestion {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 5;
    background-color: rgba(84, 83, 83, 0.6);
    
    &--list {
      &-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        position: absolute;
        top: 70px;
        box-sizing: border-box;
        z-index: 6;
      }
    }
    &--item {
      height: 40px;
      width: 710px;
      flex: 1 0 40px;
      background-color: white;
      border: 1px solid orange;
      &-last {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.typeahead__input.typeahead__input--not-empty:focus,
.typeahead__input.typeahead__input--not-empty:focus-visible {
  border-right: 1px solid $grey-primary;
}