$black-text: #221f1f;
$black-transparent: rgba(0, 0, 0, 0.4);
$white-lighter: #f8f8f8;
$box-shadow: rgba(0, 0, 0, 0.32) 0px 8px 40px 0px;

.modal {
  &__container {
  }

  &__trigger {

  }
  &__main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-transparent;
    z-index: 2;
  }
  &__holder {

  }
  &__box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: $box-shadow;
    background-color: $white-lighter;
    animation: entranceIn 0.5s ease-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    min-height: 57px;
    padding: 0 24px;

    &--head {
      color: $black-text;
      font-size: 24px;
      font-family: 'FiraSans', sans-serif;
    }
  }
  &__close {
    width: 24px;
    height: 24px;
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    &:hover,
    &:focus {
      .modal__close--label {
          animation: rubberband 0.5s alternate ease-out;
      }
    }
    &--label {
      display: block;
      color: $black-text;
      height: 24px;
      width: 24px;
    }
    &--icon {
      display: block;
      background-image: url('../../../../../assets/img/cross.svg');
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }
  &__hide {
    display: none;
  }
}

@keyframes rubberband {
  0%{
      transform: scaleX(1);
  }
  40%{
      transform: scaleX(1.12) scaleY(0.75);
  }
  55%{
      transform: scaleX(0.85) scaleY(1);
  }
  65%{
      transform: scaleX(1.09) scaleY(0.85);
  }
  75%{
      transform: scaleX(0.9)  scaleY(1);
  }
  90%{
      transform: scaleX(1.05) scaleY(0.95);
  }
  100%{
      transform: scaleX(1) scaleY(1);
  }
}

@keyframes entranceIn {
  0%{
      transform: scaleX(0.96);
      opacity: 0;
  }
  50%{
      transform: scaleX(0.98);
      opacity: 0.5;
  }
  100%{
      transform: scaleX(1);
      opacity: 1;
  }
}